<div class="footer">
    <ul>
        <li id="copy"><b> &copy; Corp Connect</b></li>
        <li><a href="/about">About</a></li>
        <li id="contact"><a href="/contact">Contact</a></li>
        <li><a id="fb" href="http://www.facebook.com" target="_blank"><img src="../../assets/images/fb.png"
                    alt="fb_logo"></a> </li>
        <li><a id="insta" href="http://www.instagram.com" target="_blank"><img src="../../assets/images/insta.png"
                    alt="insta_logo"></a> </li>
        <li><a id="tweet" href="http://www.twitter.com" target="_blank"><img src="../../assets/images/twitter.png"
                    alt="twitter_logo"></a> </li>
    </ul>
</div>