<div class="header">
    <!-- <nav>
        <ul>
            <li> <a href="/"><img src="../../assets/images/Corp_icon.png" height="80" width="100" alt="logo"></a></li>
            <li id="start"><a href="/newConnection">Create new Connection!</a></li>
            <li id="login"><a href="/savedConnections">Sign In</a></li>
            <li id="sign"><a href="/savedConnections">Create Account</a></li>
        </ul>
    </nav> -->
    <!-- <nav class="navbar navbar-dark bg-dark">
        <ul>
            <li>
                <a class="navbar-brand" href="#">
                    <img src="../../assets/images/Corp_icon.png" width="30" height="30" alt="">
                </a>
            </li>
            <li><a href="/newConnection">Create new Connection!</a></li>
            <li><a href="/savedConnections">Sign In</a></li>
            <li><a href="/savedConnections">Create Account</a></li>
        </ul>
    </nav> -->
    <nav class="navbar custom-nav navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            <img src="../../assets/images/Corp_icon.png" width="90" height="90" alt="logo">
        </a>
        <ul class="nav justify-content-end">
            <li class="nav-item active">
                <a href="/newConnection">Create new Connection!</a>
            </li>
            <li class="nav-item">
                <a href="/signin">Sign In</a>
            </li>
            <li>
                <a href="/savedConnections">Create Account</a>
            </li>
        </ul>
    </nav>
</div>