<!DOCTYPE html>
<html>

<head>
    <link href="../assets/styles/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title> Corp Connect</title>
</head>

<body>
    <% include partials/header.ejs %>
    <div class="con">
        <a href="/connections">Connections</a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <main class="index">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3"></div>
                            <div class="col-lg-6">

                            </div>
                            <div class="col-lg-3"></div>
                        </div>
                    </div>
                    <div class="jumbotron">
                        <h1 class="display-4">
                            This is a platform that connects people in the corporate world. create, schedule,
                            participate in the events
                            you enjoy the most.
                        </h1>
                        <p class="lead">See what's happening around you, and find groups that get together to do the
                            things they love.<br><br><br>
                            Corp Connect is a platform for finding and building local communities. Use Corp connect to
                            meet new people,
                            learn new things, find support, get out of their comfort zones, and pursue their passions,
                            together. </p>
                        <hr class="my-4">
                        <p>
                            Check out the connections section to browse the available connections.
                        </p>
                    </div>
                </main>
            </div>
        </div>
    </div>
    <% include partials/footer.ejs %>
</body>

</html>