<!DOCTYPE html>
<html>

<head>
    <link href="../assets/styles/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title> Corp Connect</title>
</head>

<body>
    <% include partials/header.ejs %>
    <div class="con">
        <a href="/connections">Connections</a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <main class="index">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3"></div>
                            <div class="col-lg-6">

                            </div>
                            <div class="col-lg-3"></div>
                        </div>
                    </div>
                    <div class="jumbotron">
                        <h1 class="display-4">
                            CONTACT US AT:
                        </h1>
                        <p class="lead"><br>
                            <b>Email: </b><br>

                            email your queries to us at corpconnect@uncc.edu<br><br><br>
                            <b>Contact Info:</b><br>
                            give us a call at our toll free number: +1800720501 </p>
                        <hr class="my-4">
                        <p>
                            Check out the connections section to browse the available connections.
                        </p>
                    </div>
                </main>
            </div>
        </div>
    </div>
    <% include partials/footer.ejs %>
</body>

</html>